.Grid-layout
{
    margin-left: 90px;
    margin-top: 70px ;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;  
}

.tumbnail
{
    width: 100%;
    cursor: pointer;

}

.profile
{
    width: 100%;
    border-radius: 30px;
    margin-left: 5px;
    cursor: pointer;
    
}

.profile0
{
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.p1,.p2,.p3
{
    max-width: 280px;
}

.p1{
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.p2,.p3{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.p2
{
    margin-bottom: 0px;
    cursor: pointer;
}

.p3
{
    margin-top: 5px;
}



.grid1
{
    display: grid;
    grid-template-columns: 50px 1fr;
}

body
{
    margin: 0;
}


.position
{
    position: relative;
}
.time-stamp
{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.p2:hover
{
    color: black;
}